<div class="d-flex flex-wrap justify-content-center justify-content-lg-start align-content-center">  

    <img class="rounded-circle" style="max-width: 1.5cm;" src={{img}} alt="User image"  onerror="this.onerror=null; this.src='../../public/js/default_user.png'">

    <div>
        <div>
            {{#if statusUnread}}<img styles="max-width: 3mm" src="">
            <span class="fs-4 ml-5">{{name}}</span>
        </div>
        
        <p>{{message}}</p>
        <div>

        </div>
    </div>
    

    
    <!--Search-->
    <form id="searchForm" class="form-inline ml-auto mr-auto mt-2 mt-md-0 align-middle">
    <input id="search" class="form-control mr-sm-2" style="min-width: 5cm; width: 10cm;" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success ml-1 my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!--User Image-->
    <button type="button" class="btn btn-outline-warning align-self-end ml-3 mr-3">Logout</button>
    
</div>
